<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs'); %>
  <%- include('../layout/form.ejs'); %>
</head>
<body>
  <%- include('../layout/bodyMenu.ejs'); %>
  <div style="width: 850px; float:left; " >  
    <h1><%= title %></h1>
    <ul>
    <% for (i=0; i< author_list.length; i++) { %>
      <li>
        <a href= <%= author_list[i].url %> > 
          <%= author_list[i].name %>
        </a>
          
        ( <%= author_list[i].dateOfBirth %> - <%= author_list[i].dateOfDeath %> )
      </li>
    <% } %>
    </ul>
  </div> 
</body>
</html>    
   